<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" 
                              routerLinkActive="active"  
                              [routerLinkActiveOptions]="{exact: true}">
                              Component</a>
        </li>
        <li class="nav-item">
          <a class= "nav-link " routerLink="/directives"  routerLinkActive="active">Directives</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link " routerLink="/services"  routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link " routerLink="/routes"  routerLinkActive="active">Routes</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link " routerLink="/observables"  routerLinkActive="active">Observables</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link " routerLink="/forms"  routerLinkActive="active">Forms</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link " routerLink="/pipes"  routerLinkActive="active">Pipes</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>





